.body {

    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.headcon {
    background: url(../../public/images/profile_bg.jpg);
    min-height: 836px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #2a2c35;
    background-color: #FFF;
}

.headcons {
    background: url(../sports/sportsactivites/theme_2/css/images/profile_bg.jpg);
    min-height: 436px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #2a2c35;
    background-color: #FFF;
}

.grpbtn {
    column-gap: 5rem;
    row-gap: 2rem;
}

.grpbtn .btn {
    letter-spacing: 1px;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 10px 26px 11px;
}

.nameinfo1 {
    font-weight: 700;
    font-size: 1.75rem;
    margin: 71px 20px 0;
}

.nameinfo2 {
    font-weight: 700;
    font-size: 1.75rem;
    margin: 8px 28px 0 20px;
}

.bg-profile {
    /* background-image: url(images/profile.jpg); */
    width: 373px;
    height: 373px;
    border-radius: 50% !important;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 148px 100px 0 auto;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.bg-profile:hover {
    transform: scale(1.1);
}

.line-horiz {
    width: 482px;
    margin: 20px auto 0 20px;
    border: 1px dotted #ccd3db;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

.profileinfo {
    line-height: 2;
    font-size: 18px;
    font-weight: 700;
    margin: 34px 40px 0 20px;
}

.profileinfo a {
    text-decoration: underline;
    color: #FFF;
}

.cvbtn {
    margin: 200px auto 0 28px;
    padding: 10px 100px;
}

.loader {
    /* w-100 h-100 position-absolute left-0 top-0 d-flex justify-content-center align-items-center" style="background-color: #CCC" */
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    z-index: 9999;
    /* background-color: rgb(231, 229, 229, 0.5); */
}

.animate-spin {
    animation: spin 1s linear infinite;
    width: 20px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mydtl {
    width: 150px;
}

.mydtl+span {
    font-weight: 400;
}

.jobno {
    position: absolute;
    top: -32px;
    right: 0;
    color: #FFF;
    font-size: 20px;
}

.sportheader {
    font-weight: 900;
    font-size: 2.25rem;
    justify-content: center;
    margin: 20px 180px 0;
    align-items: center;
    text-align: center;
    border: 0px dotted #ca0c12;
    width: 100%;
}

.bg-profiletext {
    /* background-image: url(images/profile.jpg); */
    width: 273px;
    height: 233px;
    border-radius: 5% !important;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #b83434;
    border-top: 5px solid #3974b7;
    margin: 31px 100px 0 auto;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}



.bg-profile1 {
    /* background-image: url(images/profile.jpg); */
    width: 273px;
    height: 533px;
    border-radius: 5% !important;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #FFF;
    border-top: #2307dd;
    border-left: #16384c;
    border-right: #2d74d0;
    border-bottom: 0px solid rgb(6, 155, 248);
    text-align: center;
    margin: 31px 100px 0 auto;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.bg-profile2 {
    /* background-image: url(images/profile.jpg); */
    width: 200px;
    height: 200px;
    border-radius: 5% !important;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-bottom: 0px solid rgb(6, 155, 248);
    margin: 31px 100px 0 auto;
    text-align: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.bg-profile3 {
    /* background-image: url(images/profile.jpg); */
    width: 280px;
    height: 280px;
    border-radius: 5% !important;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-bottom: 0px solid rgb(6, 155, 248);
    margin: 31px 100px 0 auto;
    text-align: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.bg-profileslide {
    /* background-image: url(images/profile.jpg); */
    width: 100%;
    height: 100%;
    border: 35px solid #FFF;
    padding: 10px;
    box-shadow: inset 0 -3em 3em rgba(0.3, 0.3, 0.3, 0.1), 0 0 0 1px #FFF,
        0.3em 0.3em 3em rgba(0.3, 0.3, 0.3, 0.3);
}

.bg-3imgtr {
    /* background-image: url(images/profile.jpg); */
    border-radius: 5% !important;
    color: #020202;
    border: 3px solid black;
    border-top: 1px solid rgb(108, 128, 143);
    border-bottom: 1px solid rgb(123, 146, 161);
    border-left: 1px solid rgb(85, 106, 120);
    border-right: 1px solid rgb(77, 96, 110);
    text-align: center;
    align-items: center;
    margin: 31px 100px 0 auto;
}

.seconheader {
    font-weight: 700;
    font-size: 2.25rem;
    justify-content: center;
    margin: 2px 3px 0;
    align-items: center;
    text-align: center;
    color: #000;
    border: 0px dotted #ca0c12;
    width: 99%;
}

.thirdheader {
    font-weight: 700;
    font-size: 2.25rem;
    justify-content: center;
    margin: 0px 0px 0px;
    align-items: center;
    text-align: center;
    color: #FFF;
    border: 2px solid #000;
    background-color: #2d74d0;
    width: 98%;
}

.thirdheaderrow {
    font-weight: 700;
    font-size: 1.25rem;
    justify-content: center;
    margin: 0px 0px 0px;
    align-items: center;
    text-align: center;
    color: #FFF;
    border: 2px solid #000;
    background-color: #2c7696;
    width: 100%;
}

.thirdheaderrow4 {
    font-weight: 700;
    font-size: 1.25rem;
    justify-content: center;
    margin: 0px 0px 0px;
    align-items: center;
    text-align: center;
    color: #FFF;
    border: 0px solid #000;
    width: 90%;
}

.thirdheaderrows {
    font-weight: 700;
    font-size: 1.25rem;
    justify-content: center;
    margin: 0px 0px 0px;
    align-items: center;
    text-align: center;
    color: #060606;
    border: 2px solid #000;
    background-color: #f1f4f6;
    width: 100%;
}

/*  image slide */

html,
body {
    height: 50%;
}

body {
    font: 15px/1 sans-serif;
    margin: 0;
}

/*
RESPONSIVE CSS3 SLIDE CAROUSEL GALLERY
http://stackoverflow.com/a/34696029/383904
*/

.CSSgal {
    position: relative;
    overflow: hidden;
    height: 500px;
    /* Or set a fixed height */
}

/* SLIDER */
.CSSgal .slider {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
}

/* SLIDES */
.CSSgal .slider>* {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */
.CSSgal .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0;
}

.CSSgal .prevNext>div+div {
    visibility: hidden;
    /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: 0.7;
    color: #FFF;
    background-color: #2d74d0;
    text-decoration: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.CSSgal .prevNext a:hover {
    opacity: 1;
}

.CSSgal .prevNext a+a {
    right: 0px;
}

/* NAVIGATION */
.CSSgal .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.CSSgal .bullets>a {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    background: rgb(218, 222, 229);
}

.CSSgal .bullets>a+a {
    background: rgba(255, 255, 255, 0.5);
    /* Dim all but first */
}

.CSSgal .bullets>a:hover {
    background: rgba(92, 148, 198, 0.9);
}

/* ACTIVE NAVIGATION ANCHOR */
.CSSgal>s:target~.bullets>* {
    background: rgba(255, 255, 255, 0.5);
}

#s1:target~.bullets>*:nth-child(1) {
    background: rgba(255, 255, 255, 1);
}

#s2:target~.bullets>*:nth-child(2) {
    background: rgba(255, 255, 255, 1);
}

#s3:target~.bullets>*:nth-child(3) {
    background: rgba(255, 255, 255, 1);
}

#s4:target~.bullets>*:nth-child(4) {
    background: rgba(255, 255, 255, 1);
}

#s5:target~.bullets>*:nth-child(5) {
    background: rgba(255, 255, 255, 1);
}

/* PREV/NEXT CONTAINERS VISIBILITY */
.CSSgal>s:target~.prevNext>* {
    visibility: hidden;
}

#s1:target~.prevNext>*:nth-child(1) {
    visibility: visible;
}

#s2:target~.prevNext>*:nth-child(2) {
    visibility: visible;
}

#s3:target~.prevNext>*:nth-child(3) {
    visibility: visible;
}

#s4:target~.prevNext>*:nth-child(4) {
    visibility: visible;
}

#s5:target~.prevNext>*:nth-child(5) {
    visibility: visible;
}

/* SLIDER ANIMATION POSITIONS */
#s1:target~.slider {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

#s2:target~.slider {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

#s3:target~.slider {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}

#s4:target~.slider {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
}

.outer {
    background-color: rgb(4, 111, 233);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 45px 75px 45px 45px;
}

.inner {
    background-color: #FFF;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 45px;
    margin-bottom: 65px;
    margin-left: 75px;
    margin-right: 45px;
}

.img1 {
    background-image: url('../sports/sportsactivites/theme_2/css/images/1622890.png');
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    margin-top: 35px;
    margin-bottom: 5px;
    margin-left: 55px;
    margin-right: 30px;
}


.circle11 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(7, 83, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content11 {
    color: white;
    font-size: 24px;
}


.center {
    background: #0488f5;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}


.background-image {
    background-image: url('../sports/sportsactivites/theme_2/css/images/profile_bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 436px;
    position: relative;
}

.circle111 {
    width: 200px;
    height: 200px;
    background-color: #0488f5;
    border-radius: 50%;
    position: absolute;
    align-items: center;
}

.circleinnerf {
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    position: relative;
}

.exp {
    width: 250px;
    height: 250px;
    background-color: Chartreuse;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 11px;
    border-radius: 51%;
    box-sizing: border-box;
}

.img1 {
    background-image: url('../sports/sportsactivites/theme_2/css/images/1622890.png');
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    position: relative;
    align-items: center;
}

.circle:nth-child(1) {
    top: 150px;
    left: 150px;
}

.circle:nth-child(2) {
    top: 50px;
    right: 50px;
}

.circle:nth-child(3) {
    bottom: 50px;
    left: 50px;
}

.circle:nth-child(4) {
    bottom: 50px;
    right: 50px;
}

.circle-wrapper {
    width: 501px;
    height: 501px;
    border-radius: 51%;
    background: Chartreuse;
    position: relative;
    margin: 100px;
}

.circle {
    display: block;
    position: absolute;
    top: 51%;
    left: 51%;
    width: 100px;
    height: 100px;
    margin: -51px;
    background: rgb(179, 142, 142);
    border-radius: 51%;
    text-align: center;
    line-height: 100px;
}

.deg-0 {
    transform: rotate(1deg) translate(251px) rotate(-1deg)
}

.deg-45 {
    transform: rotate(46deg) translate(251px) rotate(-46deg);
}

.deg-60 {
    transform: rotate(61deg) translate(251px) rotate(-61deg);
}

.deg-90 {
    transform: rotate(91deg) translate(251px) rotate(-91deg);
}

.deg-135 {
    transform: rotate(136deg) translate(251px) rotate(-136deg);
}

.deg-180 {
    transform: rotate(181deg) translate(251px) rotate(-181deg);
}

.deg-225 {
    transform: rotate(226deg) translate(251px) rotate(-226deg);
}

.deg-270 {
    transform: rotate(271deg) translate(251px) rotate(-271deg);
}

.deg-315 {
    transform: rotate(316deg) translate(251px) rotate(-316deg);
}

.shadowboxmain {
    min-width: 15em;
    border: 0px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    width: 100%;
    height: 100%;
}

.shadowbox {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    min-width: 15em;
    border-radius: 2px solid black;
    border: 0px solid #333;
    box-shadow: 18px 18px 15px #b8b8b8;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #fff 40%, #fff);
}

.shadowboxl {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    min-width: 15em;
    border-radius: 2px solid black;
    border: 0px solid #333;
    box-shadow: 8px 8px 5px #afaeae;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #fff 10%, #fff);
}

.ph {
    text-align: center;
    font-size: large;
    color: #0488f5;
    padding: 3px;
}

.pc {
    text-align: center;
    font-size: 15px;
    color: #050505;
    padding: 3px;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pm {
    text-align: left;
    font-size: 23px;
    font-weight: bold;
    color: #040404;
    padding: 15px;
    width: 100%;
    height: 100%;
    justify-content: left;
}

.warning {
    border: 10px ridge rgb(228, 225, 225);
    background-color: rgb(174, 187, 205);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.warning img {
    width: 100%;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}

#circle {
    width: 300px;
    height: 300px;
    border-bottom: 15px solid rgb(20, 141, 240);
    border-top: 15px solid rgb(20, 141, 240);
    border-left: 15px solid rgb(20, 141, 240);
    border-right: 15px solid rgb(20, 141, 240);
    border-radius: 50%;
    background: rgb(248, 248, 249);
    box-shadow: inset 0px 0px 0px 50px rgb(193, 191, 191);
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

*,
*:before,
*:after {
    box-sizing: border-box;
}


.quote-wrapper {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 10vh auto 0;
    /*OPTIONAL MARGIN*/
}

.text {
    width: 100%;
    height: 100%;
    /*BLUE BG*/
    background: radial-gradient(ellipse at center,
            rgba(0, 128, 172, 1) 0%,
            rgba(0, 128, 172, 1) 70%,
            rgba(0, 128, 172, 0) 70.3%);
    /*RED BG
    background: radial-gradient(
      ellipse at center,
      rgba(210, 20, 20, 1) 0%,
      rgba(210, 20, 20, 1) 70%,
      rgba(210, 20, 20, 0) 70.3%
    );*/
    position: relative;
    margin: 0;
    color: white;
}

.text p {
    height: 100%;
    font-size: 21px;
    line-height: 1.25;
    padding: 0;
    text-align: center;
    font-style: italic;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text::before {
    content: "";
    width: 50%;
    height: 100%;
    float: left;
    shape-outside: polygon(0 0,
            98% 0,
            50% 6%,
            23.4% 17.3%,
            6% 32.6%,
            0 50%,
            6% 65.6%,
            23.4% 82.7%,
            50% 94%,
            98% 100%,
            0 100%);
    shape-margin: 7%;
}

.text p::before {
    content: "";
    width: 50%;
    height: 100%;
    float: right;
    shape-outside: polygon(2% 0%,
            100% 0%,
            100% 100%,
            2% 100%,
            50% 94%,
            76.6% 82.7%,
            94% 65.6%,
            100% 50%,
            94% 32.6%,
            76.6% 17.3%,
            50% 6%);
    shape-margin: 7%;
}

.quote-wrapper blockquote footer {
    width: 100%;
    position: absolute;
    bottom: 25px;
    font-size: 17px;
    text-align: center;
    font-style: italic;
    text-shadow: 0.5px 0.5px 10px rgba(5, 99, 240, 0.3);
}

.quote-wrapper::before {
    content: "\201C";
    font-size: 270px;
    height: 82px;
    line-height: 0.78;
    line-height: 1;
    position: absolute;
    top: -48px;
    left: 0;
    z-index: 1;
    font-family: sans-serif, serif;
    color: #ccc;
    opacity: 0.9;
}

@media (min-width: 850px) {
    .quote-wrapper {
        width: 370px;
        height: 370px;
    }

    .quote-wrapper::before {
        font-size: 300px;
    }

    .text p {
        font-size: 26px;
    }

    .quote-wrapper blockquote footer {
        bottom: 32px;
    }
}

/*THIS CSS IS NOT REQUIRED FOR CIRCULAR TEXT*/
/*THIS CSS IS NOT REQUIRED FOR CIRCULAR TEXT*/

.note {
    margin: 5vw;
    padding: 0.5em;
    border-left: 0.5em solid #52e052;
    background: #e9fbe9;
}

.note a {
    text-decoration: none;
    color: #161b1e;
}

.note a:hover {
    text-decoration: underline;
}

.pquote {
    padding-top: 55px;
}

.shadowboxpquote {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    min-width: 15em;
    border-radius: 2px solid black;
    border: 3px solid #cdd6dc;
    box-shadow: 18px 18px 15px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #fff 40%, #fff);
}

.bg-profilequote {
    /* background-image: url(images/profile.jpg); */
    width: 200px;
    height: 200px;
    border-radius: 50% !important;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-bottom: 0px solid rgb(6, 155, 248);
    margin: 31px 100px 0 auto;
    text-align: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}


.pfquote {
    text-align: left;
    font-size: 10px;
    color: #0488f5;
    padding: 3px;
}

.GalleryPhead {
    align-items: center;
    color: #0154ac;
    border-radius: 10%;
    padding-top: 25px;
    padding-left: 75px;
    padding-bottom: 10px;
    font-weight: bolder;
    font: 2.5em sans-serif;
    text-align: center;
}

.quoteheadingsub {
    align-items: center;
    color: #070808;
    border-radius: 10%;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: bolder;
    font: 1.2em sans-serif;
    text-align: center;
}

.quoteheading {
    align-items: left;
    color: #0480fb;
    border-radius: 10%;
    padding-left: 40px;
    margin-top: 60px;
    font-weight: bolder;
    font: 2.5em sans-serif;
    text-align: left;
}

.imgqu {
    background-image: url('../sports/sportsactivites/theme_2/css/images/download.png');
    background-size: cover;
    background-position: center;
    background-color: #027df8;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 50px;
}

.imgdet {
    background-image: url('../sports/sportsactivites/theme_2/css/images/download-1.png');
    background-size: cover;
    background-position: center;
    background-color: #f6f7f8;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 50px;
}